[tower]
{% for servers in groups.tower %}
{{ hostvars[servers].ansible_fqdn }} 
{% endfor %}

[database]

[all:vars]
admin_password='{{ tower_password }}'

pg_host='{{ hostvars['localhost'].rds_state.instances[0].endpoint.address }}'
pg_port='5432'

pg_database='awx'
pg_username='awx'
pg_password='{{ tower_password }}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true

# SSL-related variables

# If set, this will install a custom CA certificate to the system trust store.
# custom_ca_cert=/path/to/ca.crt

# Certificate and key to install in nginx for the web UI and API
# web_server_ssl_cert=/path/to/tower.cert
# web_server_ssl_key=/path/to/tower.key
{% if tower_cert %}
web_server_ssl_cert={{ ansible_user_dir }}/tower.cert
web_server_ssl_key={{ ansible_user_dir }}/tower.key
{% endif %}

# Server-side SSL settings for PostgreSQL (when we are installing it).
# postgres_use_ssl=False
# postgres_ssl_cert=/path/to/pgsql.crt
# postgres_ssl_key=/path/to/pgsql.key

ansible_user={{ ansible_user_id }}
ansible_become=yes
